/* Basic reset and body styling */
body,
h1,
h2,
h3,
p,
ul {
    margin: 5px;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    /* Light background for the body */
}

/* Header and navigation styling */
header {
    background: #006400;
    /* Light green background for the header */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #006400;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    z-index: 1030;
    /* Bootstrap's default z-index for navbar is 1030 */
    position: relative;
    /* z-index works on positioned elements (position: absolute, position: relative, or position: fixed) */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 10px 0;
    background: #006400;
    /* Light green background for the footer */
    color: white;
}

/* Form and input styling */
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    /* White background for forms */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4c9a62;
    /* A darker shade of green for buttons */
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #408855;
    /* Even darker shade for hover effect */
}

/* Additional styles for message and contact-info */
.message,
.contact-info {
    background-color: #d3ded1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* ... other styles ... */