/* Form and input styling */
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    /* White background for forms */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4c9a62;
    /* A darker shade of green for buttons */
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #408855;
    /* Even darker shade for hover effect */
}

/* Additional styles for message and contact-info */
.message,
.contact-info {
    background-color: #d3ded1;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}